In [1077]:
import pandas as pd
import numpy as np
import datetime
from dateutil.parser import parse

In [1441]:
agents = []
for sheet_name in range(0, 29):
    df = pd.read_excel('new.xlsx', sheet_name=sheet_name)
    rename_cols = {
        'Date': 'lead_date',
        'Name': 'name',
        'Name ': 'name',
        'NAME': 'name',
        'Number': 'phone_num',
        'Number ': 'phone_num',
        'Number March': 'phone_num',
        'Number April': 'phone_num',
        'Number May': 'phone_num',
        'Number June': 'phone_num',
        'Number July': 'phone_num',
        'Number Sept': 'phone_num',
        'Email': 'email',
        'Online/_Offline': 'course_id',
        'Online/Offline': 'course_id',
        'Lead Source': 'source_id',
        'Lead _Source': 'source_id',
        'Details _Send': 'details_sent',
        'Details_Sent': 'details_sent',
        'Details _Sent': 'details_sent',
        'Details _sent': 'details_sent',
        'Details sent': 'details_sent',
        'Details Sent': 'details_sent',
        'Area': 'area',
        'Details Send': 'details_sent',
        'Remark': 'remark',
        'Remarks': 'remark',
        'Batch_ Timing': 'batch_time',
        'Visit Date_( Pitch by)': 'visit_date',
        'Remark   ': 'remark',
        'SSS Lead transfered to': 'agent_id',
        'LEADS OFF': 'agent_id',
        'Lead To': 'agent_id',
        'Lead to': 'agent_id',
        'Leads': 'agent_id',
        'Leads off': 'agent_id',
        ' Lead Off': 'agent_id',
        'Leads to': 'agent_id',
        ' Date_': 'lead_date',
        ' Date__': 'lead_date',
        'Broadcast': 'broadcast',
        'Broadcaste': 'broadcast',
        'Demo Date (Trainer Name)': 'demo_date'
    }
    df = df.rename(columns=rename_cols)
    df.to_excel(f'{sheet_name}.xlsx', index=False)

/usr/local/lib/python3.10/site-packages/openpyxl/worksheet/_reader.py:223: UserWarning: Cell B262 is marked as a date but the serial value 11001548 is outside the limits for dates. The cell will be treated as an error.
  warn(msg)

In [1439]:
agents = []
for sheet_name in range(0, 29):
    df = pd.read_excel('new.xlsx', sheet_name=sheet_name)
    rename_cols = {
        'Date': 'lead_date',
        'Name': 'name',
        'Name ': 'name',
        'NAME': 'name',
        'Number': 'phone_num',
        'Number ': 'phone_num',
        'Number March': 'phone_num',
        'Number April': 'phone_num',
        'Number May': 'phone_num',
        'Number June': 'phone_num',
        'Number July': 'phone_num',
        'Number Sept': 'phone_num',
        'Email': 'email',
        'Online/_Offline': 'course_id',
        'Online/Offline': 'course_id',
        'Lead Source': 'source_id',
        'Lead _Source': 'source_id',
        'Details _Send': 'details_sent',
        'Details_Sent': 'details_sent',
        'Details _Sent': 'details_sent',
        'Details _sent': 'details_sent',
        'Details sent': 'details_sent',
        'Details Sent': 'details_sent',
        'Area': 'area',
        'Details Send': 'details_sent',
        'Remark': 'remark',
        'Remarks': 'remark',
        'Batch_ Timing': 'batch_time',
        'Visit Date_( Pitch by)': 'visit_date',
        'Remark   ': 'remark',
        'SSS Lead transfered to': 'agent_id',
        'LEADS OFF': 'agent_id',
        'Lead To': 'agent_id',
        'Lead to': 'agent_id',
        'Leads': 'agent_id',
        'Leads off': 'agent_id',
        ' Lead Off': 'agent_id',
        'Leads to': 'agent_id',
        ' Date_': 'lead_date',
        ' Date__': 'lead_date',
        'Broadcast': 'broadcast',
        'Broadcaste': 'broadcast',
        'Demo Date (Trainer Name)': 'demo_date'
    }
    df = df.rename(columns=rename_cols)
    try:
        
        agents.extend( (list(df['agent_id'])) )
    except KeyError:
        print(sheet_name)

0

/usr/local/lib/python3.10/site-packages/openpyxl/worksheet/_reader.py:223: UserWarning: Cell B262 is marked as a date but the serial value 11001548 is outside the limits for dates. The cell will be treated as an error.
  warn(msg)

7
9
16

In [1440]:
set(agents)

{'AL',
 'Al',
 'BJ',
 'JS',
 'MB',
 'MH',
 'PD',
 'PHP',
 'PP',
 'RH',
 'RH  ',
 'SJ',
 'SP',
 'SSS',
 'SSS/PP',
 'Sales team',
 'VG',
 'agent_id',
 'js',
 'mh',
 nan,
 'pp',
 'rh',
 'sales team',
 'sss'}

In [1407]:
df = pd.read_excel('new.xlsx', sheet_name=28)
df.head(5)

,Sr no.,Date,NAME,Number,Email,Online/\nOffline,Batch\n Timing,Lead \nSource,Area,Details\nSent,Remarks,next action,Date.1,Time,Leads,Visit Date\n( Pitch by),Demo Date (Trainer Name),Broadcast
0,1.0,2023-03-01,Tanish vankudre,7975017778,tanish.vanakudre@gmail.com,offline,NaN,vijay sir,Gokhale nagar,yes,"1-3; ref of swapnil, will attend demo tom 10-1...",payment,2023-03-24 00:00:00,NaN,AL,NaN,NaN,NaN
1,2.0,2023-03-01,Shraddha,9824397117,shraddhadwn@gmail.com,NaN,NaN,vijay sir,NaN,yes,1-3; did not receive (al-04)\n2-3; did not rec...,NaN,NaN,NaN,AL,NaN,NaN,NaN
2,3.0,2023-03-01,Sanket Gaikwad,9850802544,NaN,offline,NaN,walkin,Satara,yes,"1-3; for job, bcom fy, will confirm 7-9pm in 2...",admission,2023-03-27 00:00:00,NaN,AL,NaN,NaN,NaN
3,4.0,2023-03-01,Mary\ngeetanjali murthy,8878631100,NaN,offline,NaN,call,Indore,yes,1/3;looking this course for her cousin sisters...,call,2023-03-14 00:00:00,NaN,PP,NaN,NaN,Y
4,5.0,2023-03-01,Payal Talwani,9340804415,NaN,offline,NaN,vijay sir,Chattisgarh,yes,1/3;looking this course for her cousin sisters...,NaN,NaN,NaN,AL,NaN,NaN,NaN

In [1408]:
df = df.where(pd.notnull(df), None)

In [1409]:
df['Date']

0     2023-03-01
1     2023-03-01
2     2023-03-01
3     2023-03-01
4     2023-03-01
         ...
301   2023-03-18
302   2023-03-18
303   2023-03-18
304   2023-03-18
305   2023-03-18
Name: Date, Length: 306, dtype: datetime64[ns]

In [1410]:
def parse_date(date_, year):
    if type(date_) is str:
        date_ = parse(date_)
    elif (date_ is None) or (type(date_) is int) :
        return '2000-01-01'
    month_ = f'0{date_.month}' if date_.month < 10 else f'{date_.month}'
    day_ = f'0{date_.day}' if date_.day < 10 else f'{date_.day}'
    return f"{year}-{month_}-{day_}"

parse_date('28 March', year=2022)

'2022-03-28'

In [1411]:
df.loc[df['Date'] == '30 - Marc', 'Date'] = '2021-03-30'
df.loc[df['Date'] == '16 aprli', 'Date'] = '2021-04-16'
df.loc[df['Date'] == '17 aprli', 'Date'] = '2021-04-17'
df.loc[df['Date'] == '20-Oct :', 'Date'] = '2021-10-20'
df.loc[df['Date'] == '6-DE', 'Date'] = '2021-12-06'
df.loc[df['Date'] == '2021-nan-nan', 'Date'] = '2021-01-01'
df.loc[df['Date'] == '2022-nan-nan', 'Date'] = '2022-01-01'
df.loc[df['Date'] == 'PD', 'Date'] = '2022-03-01'
df.loc[df['Date'] == 'SSS', 'Date'] = '2022-03-01'
df.loc[df['Date'] == 'DOne', 'Date'] = '2022-05-01'
df.loc[df['Date'] == 'Done', 'Date'] = '2022-05-01'
df.loc[df['Date'] == 'DONE', 'Date'] = '2022-05-01'
df.loc[df['Date'] == 'done', 'Date'] = '2022-05-01'
df.loc[df['Date'] == 'na', 'Date'] = '2022-05-01'
df.loc[df['Date'] == '23/07/2021\n4-Oct', 'Date'] = '2022-10-04'

In [1412]:
df['Date'] = df['Date'].apply(parse_date, year=2022)
df['Date']

0      2022-03-01
1      2022-03-01
2      2022-03-01
3      2022-03-01
4      2022-03-01
          ...
301    2022-03-18
302    2022-03-18
303    2022-03-18
304    2022-03-18
305    2022-03-18
Name: Date, Length: 306, dtype: object

In [1413]:
df.loc[df['Date'] == '30 - Marc', 'Date'] = '2021-03-30'
df.loc[df['Date'] == '16 aprli', 'Date'] = '2021-04-16'
df.loc[df['Date'] == '17 aprli', 'Date'] = '2021-04-17'
df.loc[df['Date'] == '20-Oct :', 'Date'] = '2021-10-20'
df.loc[df['Date'] == '6-DE', 'Date'] = '2021-12-06'
df.loc[df['Date'] == '2021-nan-nan', 'Date'] = '2021-01-01'
df.loc[df['Date'] == '2022-nan-nan', 'Date'] = '2022-01-01'
df.loc[df['Date'] == 'PD', 'Date'] = '2022-03-01'
df.loc[df['Date'] == 'SSS', 'Date'] = '2022-03-01'
df.loc[df['Date'] == 'DOne', 'Date'] = '2022-05-01'
df.loc[df['Date'] == 'Done', 'Date'] = '2022-05-01'
df.loc[df['Date'] == 'DONE', 'Date'] = '2022-05-01'
df.loc[df['Date'] == 'done', 'Date'] = '2022-05-01'
df.loc[df['Date'] == 'na', 'Date'] = '2022-05-01'
df.loc[df['Date'] == '23/07/2021\n4-Oct', 'Date'] = '2022-10-04'
df['Date']

0      2022-03-01
1      2022-03-01
2      2022-03-01
3      2022-03-01
4      2022-03-01
          ...
301    2022-03-18
302    2022-03-18
303    2022-03-18
304    2022-03-18
305    2022-03-18
Name: Date, Length: 306, dtype: object

In [1414]:
# df['Lead To']

In [1415]:
df.columns

Index(['Sr no.', 'Date', 'NAME', 'Number', 'Email', 'Online/\nOffline',
       'Batch\n Timing', 'Lead \nSource', 'Area', 'Details\nSent', 'Remarks',
       'next action', 'Date.1', 'Time', 'Leads', 'Visit Date\n( Pitch by)',
       'Demo Date (Trainer Name)', 'Broadcast'],
      dtype='object')

In [1416]:
import re
df.columns = [re.sub(r'\s\s\s+', '', str(c)) for c in df.columns]
df.columns = [c.replace("\n", "_") for c in df.columns]
df.columns

Index(['Sr no.', 'Date', 'NAME', 'Number', 'Email', 'Online/_Offline',
       'Batch_ Timing', 'Lead _Source', 'Area', 'Details_Sent', 'Remarks',
       'next action', 'Date.1', 'Time', 'Leads', 'Visit Date_( Pitch by)',
       'Demo Date (Trainer Name)', 'Broadcast'],
      dtype='object')

In [1417]:
rename_cols = {
    'Date': 'lead_date',
    'Name': 'name',
    'Name ': 'name',
    'NAME': 'name',
    'Number': 'phone_num',
    'Number ': 'phone_num',
    'Number March': 'phone_num',
    'Number April': 'phone_num',
    'Number May': 'phone_num',
    'Number June': 'phone_num',
    'Number July': 'phone_num',
    'Number Sept': 'phone_num',
    'Email': 'email',
    'Online/_Offline': 'course_id',
    'Online/Offline': 'course_id',
    'Lead Source': 'source_id',
    'Lead _Source': 'source_id',
    'Details _Send': 'details_sent',
    'Details_Sent': 'details_sent',
    'Details _Sent': 'details_sent',
    'Details _sent': 'details_sent',
    'Details sent': 'details_sent',
    'Details Sent': 'details_sent',
    'Area': 'area',
    'Details Send': 'details_sent',
    'Remark': 'remark',
    'Remarks': 'remark',
    'Batch_ Timing': 'batch_time',
    'Visit Date_( Pitch by)': 'visit_date',
    'Remark   ': 'remark',
    'SSS Lead transfered to': 'agent_id',
    ' Lead Off': 'agent_id',
    'LEADS OFF': 'agent_id',
    'Lead To': 'agent_id',
    'Lead to': 'agent_id',
    'Leads': 'agent_id',
    'Leads off': 'agent_id',
    'Leads to': 'agent_id',
    ' Date_': 'lead_date',
    ' Date__': 'lead_date',
    'Broadcast': 'broadcast',
    'Broadcaste': 'broadcast',
    'Demo Date (Trainer Name)': 'demo_date'
}
df = df.rename(columns=rename_cols)
df.columns

Index(['Sr no.', 'lead_date', 'name', 'phone_num', 'email', 'course_id',
       'batch_time', 'source_id', 'area', 'details_sent', 'remark',
       'next action', 'Date.1', 'Time', 'Leads', 'Visit Date_( Pitch by)',
       'Demo Date (Trainer Name)', 'Broadcast'],
      dtype='object')

In [1418]:
use_cols = ['name', 'lead_date', 'phone_num', 'email', 'course_id', 'batch_time', 'source_id', 'area', 'details_sent', 'remark', 'agent_id', 'demo_date', 'visit_date', 'broadcast']

In [1419]:
for required_col in use_cols:
    if required_col not in df.columns:
        raise Exception(f'Column {required_col} not found.')

In [1420]:
for col in df.columns:
    if col not in use_cols:
        df.drop(col, axis=1, inplace=True)
df.columns

Index(['lead_date', 'name', 'phone_num', 'email', 'course_id', 'batch_time',
       'source_id', 'area', 'details_sent', 'remark'],
      dtype='object')

In [1421]:
df['batch_time'].unique()

array([None, datetime.datetime(2023, 2, 12, 0, 0), 'mor 8;30 to 10',
       datetime.datetime(2023, 5, 3, 0, 0), '8;30-10 am', 'weekend',
       '8-10am', datetime.datetime(2023, 12, 2, 0, 0), '12-2pm',
       'evening', '8;30 to10', '7-9pm', 'moring ', 'evening ', 'morning',
       'eveing ', '1-3pm'], dtype=object)

In [1422]:
if 'batch_time' in df.columns:
    df['batch_time'].unique()
    df.loc[df['batch_time'].str.lower().str.strip() == 'afternoon', 'batch_time'] = 'Afternoon'
    df.loc[df['batch_time'].str.lower().str.strip() == 'morning', 'batch_time'] = 'Morning'
    df.loc[df['batch_time'].str.lower().str.strip() == 'evening', 'batch_time'] = 'Evening'
    df.loc[df['batch_time'].str.lower().str.strip() == 'morning ', 'batch_time'] = 'Morning'
    df['batch_time'].fillna('Morning', inplace=True)

    df.loc[df['batch_time'] == 'Morning', 'batch_time'] = 1
    df.loc[df['batch_time'] == 'Afternoon', 'batch_time'] = 2
    df.loc[df['batch_time'] == 'Evening', 'batch_time'] = 3
    df.loc[~df['batch_time'].isin([1, 2, 3]), 'batch_time'] = 1 # others
    print(df['batch_time'].unique())

[1 3]

In [1423]:
df['course_id'].unique()

array(['offline', None, 'offline ', 'online', 'offine', 'On/off',
       'Offline', 'pcmc', 'offline/online', 'on/off', 'online ', 'Online',
       'off/on', 'on\\off', 'offline \\online', 'on/off ', 'Offine',
       'on/ off ', 'onilne ', 'Online ', 'online/ offline ', 'onine'],
      dtype=object)

In [1424]:
df.loc[df['course_id'].str.lower().str.strip() == 'hinjewadi', 'course_id'] = 'offline'
df.loc[df['course_id'].str.lower().str.strip() == 'online', 'course_id'] = 'online'
df.loc[df['course_id'].str.lower().str.strip() == 'oflfline', 'course_id'] = 'offline'
df.loc[df['course_id'].str.lower().str.strip() == 'on\;ine', 'course_id'] = 'online'
df.loc[df['course_id'].str.lower().str.strip() == 'onine', 'course_id'] = 'online'
df.loc[df['course_id'].str.lower().str.strip() == 'oflline', 'course_id'] = 'offline'
df.loc[df['course_id'].str.lower().str.strip() == 'On line', 'course_id'] = 'online'
df.loc[df['course_id'].str.lower().str.strip() == 'Offlline', 'course_id'] = 'offline'
df.loc[df['course_id'].str.lower().str.strip() == 'offfline', 'course_id'] = 'offline'
df.loc[df['course_id'].str.lower().str.strip() == 'offline batch', 'course_id'] = 'offline'
df.loc[df['course_id'].str.lower().str.strip() == 'Offlne', 'course_id'] = 'offline'
df.loc[df['course_id'].str.lower().str.strip() == 'online ', 'course_id'] = 'online'
df.loc[df['course_id'].str.lower().str.strip() == 'offline/ online', 'course_id'] = 'online'
df.loc[df['course_id'].str.lower().str.strip() == 'offline', 'course_id'] = 'offline'
df.loc[df['course_id'].str.lower().str.strip() == 'offline/online', 'course_id'] = 'online'
df.loc[df['course_id'].str.lower().str.strip() == 'online/ offline', 'course_id'] = 'online'
df.loc[df['course_id'].str.lower().str.strip() == 'online/ offlineon', 'course_id'] = 'online'
df.loc[df['course_id'].str.lower().str.strip() == 'online/ offlineonl', 'course_id'] = 'online'
df.loc[df['course_id'].str.lower().str.strip() == 'offlne', 'course_id'] = 'offline'
df.loc[df['course_id'].str.lower().str.strip() == 'offline', 'course_id'] = 'offline'
df.loc[df['course_id'].str.lower().str.strip() == 'offline ', 'course_id'] = 'offline'
df.loc[df['course_id'].str.lower().str.strip() == 'walk-in', 'course_id'] = 'offline'
df.loc[df['course_id'].str.lower().str.strip() == 'online (weekend)', 'course_id'] = 'offline'
df.loc[df['course_id'].str.lower().str.strip() == 'on/off', 'course_id'] = 'offline'
df.loc[df['course_id'].str.lower().str.strip() == 'on/ off', 'course_id'] = 'offline'
df.loc[df['course_id'].str.lower().str.strip() == 'offlinhr', 'course_id'] = 'offline'
df.loc[df['course_id'].str.lower().str.strip() == 'oonline', 'course_id'] = 'online'
df.loc[df['course_id'].str.lower().str.strip() == 'on+ off', 'course_id'] = 'offline'
df.loc[df['course_id'].str.lower().str.strip() == 'nan', 'course_id'] = 'offline'
df.loc[df['course_id'] == np.nan, 'course_id'] = 'offline'
df['course_id'].fillna('offline', inplace=True)

df.loc[df['course_id'] == 'offline', 'course_id'] = 1
df.loc[df['course_id'] == 'online', 'course_id'] = 2
df.loc[~df['course_id'].isin([1, 2]), 'course_id'] = 1 # others
df['course_id'].unique()

array([1, 2], dtype=object)

In [1425]:
df['source_id'].unique()

array(['vijay sir', 'walkin', 'call', 'vijay sir ', 'ref', 'ref aman ',
       None, 'ref shurti pangarkar', 'whatsapp', 'ref ', 'Vijay sir',
       'walkin ', 'call ', 'vjay sir ', 'Vijay sir ', 'rohan ref.',
       'walk-in', 'ref/ walkin '], dtype=object)

In [1426]:
df.loc[df['source_id'].str.lower().str.strip() == 'offline', 'source_id'] = 'Direct Call'
df.loc[df['source_id'].str.lower().str.strip() == 'offline', 'source_id'] = 'Direct Call'
df.loc[df['source_id'].str.lower().str.strip() == 'call', 'source_id'] = 'Direct Call'
df.loc[df['source_id'].str.lower().str.strip() == 'vadagaon sheri', 'source_id'] = 'Direct Call'
df.loc[df['source_id'].str.lower().str.strip() == 'walk-in', 'source_id'] = 'Walk-in'
df.loc[df['source_id'].str.lower().str.strip() == 'vijay', 'source_id'] = 'Direct Call'
df.loc[df['source_id'].str.lower().str.strip() == 'kondawa ', 'source_id'] = 'Direct Call'
df.loc[df['source_id'].str.lower().str.strip() == 'walk-in', 'source_id'] = 'Walk-in'
df.loc[df['source_id'].str.lower().str.strip() == 'call', 'source_id'] = 'Direct Call'
df.loc[df['source_id'].str.lower().str.strip() == 'called vIjay', 'source_id'] = 'Direct Call'
df.loc[df['source_id'].str.lower().str.strip() == 'walk- in', 'source_id'] = 'Walk-in'
df.loc[df['source_id'].str.lower().str.strip() == ']walk-in', 'source_id'] = 'Walk-in'
df.loc[df['source_id'].str.lower().str.strip() == 'walk - in', 'source_id'] = 'Walk-in'
df.loc[df['source_id'].str.lower().str.strip() == 'walkin', 'source_id'] = 'Walk-in'
df.loc[df['source_id'].str.lower().str.strip() == 'vijay', 'source_id'] = 'Direct Call'
df.loc[df['source_id'].str.lower().str.strip() == 'chandan nagar', 'source_id'] = 'Direct Call'
df.loc[df['source_id'].str.lower().str.strip() == 'whats app', 'source_id'] = 'Whatsapp'
df.loc[df['source_id'].str.lower().str.strip() == 'reference', 'source_id'] = 'Referal'
df.loc[df['source_id'].str.lower().str.strip() == 'ref simran', 'source_id'] = 'Referal'
df.loc[df['source_id'].str.lower().str.strip() == 'ref vijay', 'source_id'] = 'Referal'
df.loc[df['source_id'].str.lower().str.strip() == 'ref sumit', 'source_id'] = 'Referal'
df.loc[df['source_id'].str.lower().str.strip() == 'ref chaitanya d', 'source_id'] = 'Referal'
df['source_id'].fillna('Direct Call', inplace=True)

df.loc[df['source_id'] == 'Whatsapp', 'source_id'] = 3
df.loc[df['source_id'] == 'Direct Call', 'source_id'] = 4
df.loc[df['source_id'] == 'Walk-in', 'source_id'] = 5
df.loc[df['source_id'] == 'Referal', 'source_id'] = 7
df.loc[~df['source_id'].isin([3, 4, 5, 7]), 'source_id'] = 4 # others

df['source_id'].unique()

array([4, 5], dtype=object)

In [1427]:
df.loc[df['details_sent'].str.lower().str.strip() == 'yes', 'details_sent'] = 1
df.loc[df['details_sent'].str.lower().str.strip() == 'offline', 'details_sent'] = 1
df.loc[df['details_sent'].str.lower().str.strip() == 'Yes', 'details_sent'] = 1

df.loc[~df['details_sent'].isin([1]), 'details_sent'] = 2 # others
df['details_sent'].unique()

array([1], dtype=object)

In [ ]:
df.loc[df['broadcast'].str.lower().str.strip() == 'y', 'broadcast'] = 1
df.loc[df['broadcast'].str.lower().str.strip() == 'yes', 'broadcast'] = 1
df.loc[df['broadcast'].str.lower().str.strip() == 'ya', 'broadcast'] = 1

df.loc[~df['broadcast'].isin([1]), 'broadcast'] = 2 # others
df['broadcast'].unique()

In [1429]:
import requests

def is_record_exist(base_url, phone_num):
    url = f"http://{base_url}:3002/api/leads/by_email_or_phone_num?phone_num={phone_num}"
    headers = {
      'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoxfQ.AHMxv1ZyUSH21Iq3Cb6AFbXgFQjrsOADGcSm83UG770'
    }
    response = requests.request("GET", url, headers=headers, data=payload)
#     print(response.text)
    if response.json():
        return True
    return False

is_record_exist('127.0.0.1', '%2B91-9763388359')

True

In [1430]:
import requests
import json

file_name = 'jan_21_manually.json'
manual_data = []

for index, row in df.iterrows():
    # Create lead
    base_url = '127.0.0.1' # 64.227.150.234
    url = f"http://{base_url}:3002/api/leads/add"
    
    if 'NaT' in row['lead_date']:
        continue
    phone_alt_num = str(row['phone_num'])
    if '/' in phone_alt_num:
        phone_alt_num = phone_alt_num.split('/')
    else:
        phone_alt_num = phone_alt_num.split('\n')
    
    if not phone_alt_num:
        continue
    if len(phone_alt_num) == 2:
        phone_num = '+91-' + phone_alt_num[0].replace(' ', '')
        phone_num = phone_num.strip()
        alternate_phone_num = '+91-' + phone_alt_num[1].replace(' ', '')
        alternate_phone_num = alternate_phone_num.strip()
    else:
        phone_num = '+91-' + phone_alt_num[0].replace(' ', '')
        phone_num = phone_num.strip()
        alternate_phone_num = None
    
    if is_record_exist(base_url, phone_num.replace('+', '%2B')):
        continue
        
    payload = json.dumps([
      {
        "name": row['name'],
        "phone_num": phone_num,
        "alternate_phone_num": alternate_phone_num,
        "email": row['email'].strip() if row['email'] else None,
        "lead_date": row['lead_date'].strip(),
        "remarks": row['remark'],
        "country_id": 98,
        "area": row['area'],
        "city_id": 1,
        "branch_id": 1,
        "source_id": row['source_id'],
        "course_id": row['course_id'],
        "batch_time_id": 1,
        "next_action_date": None,
        "next_action_remarks": None,
        "details_sent": row['details_sent'],
        "visit_date": None,
        "pitch_by": None,
        "demo_date": None,
        "instructor": None,
        "broadcast": 2,
        "agent_id": 1,
        "fee_offer": None,
        "is_student": 0
      }
    ])
    headers = {
      'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoxfQ.AHMxv1ZyUSH21Iq3Cb6AFbXgFQjrsOADGcSm83UG770',
      'Content-Type': 'application/json'
    }

    response = requests.request("POST", url, headers=headers, data=payload)
    if('error' in response.json()):
        print()
        print(response.json())
        print(payload)
        manual_data.append({'name': row['name'], 'phone_num': phone_num, 'email': row['email']})

with open(file_name, 'w') as outfile:
    json.dump(manual_data, outfile, indent=4)
len(manual_data)

{'error': '(MySQLdb.IntegrityError) (1364, "Field \'name\' doesn\'t have a default value")\n[SQL: INSERT INTO `lead` (phone_num, lead_date, remarks, country_id, area, city_id, branch_id, source_id, course_id, batch_time_id, details_sent, broadcast, agent_id, admission_status, deleted, created_at, updated_at) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, now(), now())]\n[parameters: (\'+91-9158984878\', datetime.datetime(2022, 3, 2, 0, 0), \'2-3; just enquired for fees, will calll if wants (al-04)\\n6-3; nothing confirm, will call (al-04)\', 98, \'Magarpatta\', 1, 1, 4, 1, 1, 1, 2, 1, 0, 0)]\n(Background on this error at: https://sqlalche.me/e/14/gkpj)'}
[{"name": null, "phone_num": "+91-9158984878", "alternate_phone_num": null, "email": null, "lead_date": "2022-03-02", "remarks": "2-3; just enquired for fees, will calll if wants (al-04)\n6-3; nothing confirm, will call (al-04)", "country_id": 98, "area": "Magarpatta", "city_id": 1, "branch_id": 1, "source_id": 4, "course_id": 1, "batch_time_id": 1, "next_action_date": null, "next_action_remarks": null, "details_sent": 1, "visit_date": null, "pitch_by": null, "demo_date": null, "instructor": null, "broadcast": 2, "agent_id": 1, "fee_offer": null, "is_student": 0}]

{'error': 'Phone number is already exist.'}
[{"name": "Aishwarya Shendge", "phone_num": "+91-9021112262", "alternate_phone_num": null, "email": null, "lead_date": "2022-03-06", "remarks": "6/3;job purpose/said will join afternoon 12-2pm batch(PP)\n13/3;admission done(PP)", "country_id": 98, "area": null, "city_id": 1, "branch_id": 1, "source_id": 4, "course_id": 2, "batch_time_id": 1, "next_action_date": null, "next_action_remarks": null, "details_sent": 1, "visit_date": null, "pitch_by": null, "demo_date": null, "instructor": null, "broadcast": 2, "agent_id": 1, "fee_offer": null, "is_student": 0}]

{'error': 'Alternate Phone number is already exist.'}
[{"name": "Pooja chintawar", "phone_num": "+91-9309599848", "alternate_phone_num": "+91-9307372986", "email": null, "lead_date": "2022-03-17", "remarks": "17/3;JOB PURPose/wants to attend one demo session(pp)", "country_id": 98, "area": "chandrapur", "city_id": 1, "branch_id": 1, "source_id": 4, "course_id": 2, "batch_time_id": 1, "next_action_date": null, "next_action_remarks": null, "details_sent": 1, "visit_date": null, "pitch_by": null, "demo_date": null, "instructor": null, "broadcast": 2, "agent_id": 1, "fee_offer": null, "is_student": 0}]

{'error': '(MySQLdb.IntegrityError) (1364, "Field \'name\' doesn\'t have a default value")\n[SQL: INSERT INTO `lead` (phone_num, lead_date, country_id, city_id, branch_id, source_id, course_id, batch_time_id, details_sent, broadcast, agent_id, admission_status, deleted, created_at, updated_at) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, now(), now())]\n[parameters: (\'+91-9764514779\', datetime.datetime(2022, 3, 17, 0, 0), 98, 1, 1, 4, 1, 1, 1, 2, 1, 0, 0)]\n(Background on this error at: https://sqlalche.me/e/14/gkpj)'}
[{"name": null, "phone_num": "+91-9764514779", "alternate_phone_num": null, "email": null, "lead_date": "2022-03-17", "remarks": null, "country_id": 98, "area": null, "city_id": 1, "branch_id": 1, "source_id": 4, "course_id": 1, "batch_time_id": 1, "next_action_date": null, "next_action_remarks": null, "details_sent": 1, "visit_date": null, "pitch_by": null, "demo_date": null, "instructor": null, "broadcast": 2, "agent_id": 1, "fee_offer": null, "is_student": 0}]

4

In [1431]:
len(manual_data)

4

In [561]:
df.shape

(429, 11)