In [1077]:
import pandas as pd
import numpy as np
import datetime
from dateutil.parser import parse

In [1295]:
df = pd.read_excel('new.xlsx', sheet_name=24)
df.head(5)

,Unnamed: 0,Date,NAME,Number,Email,Online/\nOffline,Batch\n Timing,Lead \nSource,Area,Details\nSent,Remarks,next action,Date.1,Time,Leads,Visit Date\n( Pitch by),Demo Date (Trainer Name),Broadcast,SSS Lead transfered to
0,1.0,2022-11-01,Sandesh Pardeshi\nshraddha pardeshi,9822259493,NaN,online,NaN,call,NaN,yes,1/11;sandesh called and enquired for his daugh...,NaN,NaN,NaN,PP,NaN,NaN,NaN,NaN
1,2.0,2022-11-01,Atharva Davare,7588979999,NaN,offline,NaN,call,sinhgad road,yes,1/11;Job purpose/clg is there so said will con...,MY,2022-11-25 00:00:00,NaN,PP,NaN,NaN,NaN,NaN
2,3.0,2022-11-01,omkar jagtap\nmonika jagtap,7769943646,NaN,offline,2022-12-10 00:00:00,walkin,NaN,yes,1-11; both looking for offline sessions / will...,admission,2023-01-06 00:00:00,NaN,AL,NaN,NaN,NaN,NaN
3,4.0,2022-11-01,Vibhavari Kale,9168132065,NaN,NaN,NaN,NaN,NaN,NaN,1-11; not looking for courses /NA,NaN,2022-11-12 00:00:00,NaN,AL,NaN,NaN,NaN,NaN
4,5.0,2022-11-01,Goldey,7218755538,NaN,NaN,NaN,NaN,NaN,NaN,1-11; could not connect (RH)\n11-11; no. not i...,NaN,NaN,NaN,AL,NaN,NaN,NaN,NaN

In [1296]:
df = df.where(pd.notnull(df), None)

In [1297]:
df['Date']

0     2022-11-01
1     2022-11-01
2     2022-11-01
3     2022-11-01
4     2022-11-01
         ...
604   2022-11-30
605   2022-11-30
606   2022-11-30
607   2022-11-30
608   2022-11-30
Name: Date, Length: 609, dtype: datetime64[ns]

In [1298]:
def parse_date(date_, year):
    if type(date_) is str:
        date_ = parse(date_)
    elif (date_ is None) or (type(date_) is int) :
        return '2000-01-01'
    month_ = f'0{date_.month}' if date_.month < 10 else f'{date_.month}'
    day_ = f'0{date_.day}' if date_.day < 10 else f'{date_.day}'
    return f"{year}-{month_}-{day_}"

parse_date('28 March', year=2022)

'2022-03-28'

In [1299]:
df.loc[df['Date'] == '30 - Marc', 'Date'] = '2021-03-30'
df.loc[df['Date'] == '16 aprli', 'Date'] = '2021-04-16'
df.loc[df['Date'] == '17 aprli', 'Date'] = '2021-04-17'
df.loc[df['Date'] == '20-Oct :', 'Date'] = '2021-10-20'
df.loc[df['Date'] == '6-DE', 'Date'] = '2021-12-06'
df.loc[df['Date'] == '2021-nan-nan', 'Date'] = '2021-01-01'
df.loc[df['Date'] == '2022-nan-nan', 'Date'] = '2022-01-01'
df.loc[df['Date'] == 'PD', 'Date'] = '2022-03-01'
df.loc[df['Date'] == 'SSS', 'Date'] = '2022-03-01'
df.loc[df['Date'] == 'DOne', 'Date'] = '2022-05-01'
df.loc[df['Date'] == 'Done', 'Date'] = '2022-05-01'
df.loc[df['Date'] == 'DONE', 'Date'] = '2022-05-01'
df.loc[df['Date'] == 'done', 'Date'] = '2022-05-01'
df.loc[df['Date'] == 'na', 'Date'] = '2022-05-01'
df.loc[df['Date'] == '23/07/2021\n4-Oct', 'Date'] = '2022-10-04'

In [1300]:
df['Date'] = df['Date'].apply(parse_date, year=2022)
df['Date']

0      2022-11-01
1      2022-11-01
2      2022-11-01
3      2022-11-01
4      2022-11-01
          ...
604    2022-11-30
605    2022-11-30
606    2022-11-30
607    2022-11-30
608    2022-11-30
Name: Date, Length: 609, dtype: object

In [1301]:
df.loc[df['Date'] == '30 - Marc', 'Date'] = '2021-03-30'
df.loc[df['Date'] == '16 aprli', 'Date'] = '2021-04-16'
df.loc[df['Date'] == '17 aprli', 'Date'] = '2021-04-17'
df.loc[df['Date'] == '20-Oct :', 'Date'] = '2021-10-20'
df.loc[df['Date'] == '6-DE', 'Date'] = '2021-12-06'
df.loc[df['Date'] == '2021-nan-nan', 'Date'] = '2021-01-01'
df.loc[df['Date'] == '2022-nan-nan', 'Date'] = '2022-01-01'
df.loc[df['Date'] == 'PD', 'Date'] = '2022-03-01'
df.loc[df['Date'] == 'SSS', 'Date'] = '2022-03-01'
df.loc[df['Date'] == 'DOne', 'Date'] = '2022-05-01'
df.loc[df['Date'] == 'Done', 'Date'] = '2022-05-01'
df.loc[df['Date'] == 'DONE', 'Date'] = '2022-05-01'
df.loc[df['Date'] == 'done', 'Date'] = '2022-05-01'
df.loc[df['Date'] == 'na', 'Date'] = '2022-05-01'
df.loc[df['Date'] == '23/07/2021\n4-Oct', 'Date'] = '2022-10-04'
df['Date']

0      2022-11-01
1      2022-11-01
2      2022-11-01
3      2022-11-01
4      2022-11-01
          ...
604    2022-11-30
605    2022-11-30
606    2022-11-30
607    2022-11-30
608    2022-11-30
Name: Date, Length: 609, dtype: object

In [1302]:
# df['Lead To']

In [1303]:
df.columns

Index(['Unnamed: 0', 'Date', 'NAME', 'Number', 'Email', 'Online/\nOffline',
       'Batch\n Timing', 'Lead \nSource', 'Area', 'Details\nSent', 'Remarks',
       'next action', 'Date.1', 'Time', 'Leads', 'Visit Date\n( Pitch by)',
       'Demo Date (Trainer Name)', 'Broadcast', 'SSS Lead transfered to'],
      dtype='object')

In [1304]:
import re
df.columns = [re.sub(r'\s\s\s+', '', str(c)) for c in df.columns]
df.columns = [c.replace("\n", "_") for c in df.columns]
df.columns

Index(['Unnamed: 0', 'Date', 'NAME', 'Number', 'Email', 'Online/_Offline',
       'Batch_ Timing', 'Lead _Source', 'Area', 'Details_Sent', 'Remarks',
       'next action', 'Date.1', 'Time', 'Leads', 'Visit Date_( Pitch by)',
       'Demo Date (Trainer Name)', 'Broadcast', 'SSS Lead transfered to'],
      dtype='object')

In [1305]:
rename_cols = {
    'Date': 'lead_date',
    'Name': 'name',
    'Name ': 'name',
    'NAME': 'name',
    'Number': 'phone_num',
    'Number ': 'phone_num',
    'Number March': 'phone_num',
    'Number April': 'phone_num',
    'Number May': 'phone_num',
    'Number June': 'phone_num',
    'Number July': 'phone_num',
    'Number Sept': 'phone_num',
    'Email': 'email',
    'Online/_Offline': 'course_id',
    'Online/Offline': 'course_id',
    'Lead Source': 'source_id',
    'Lead _Source': 'source_id',
    'Details _Send': 'details_sent',
    'Details_Sent': 'details_sent',
    'Details _Sent': 'details_sent',
    'Details _sent': 'details_sent',
    'Details sent': 'details_sent',
    'Details Sent': 'details_sent',
    'Area': 'area',
    'Details Send': 'details_sent',
    'Remark': 'remark',
    'Remarks': 'remark',
    'Batch_ Timing': 'batch_time'
}
df = df.rename(columns=rename_cols)
df.columns

Index(['Unnamed: 0', 'lead_date', 'name', 'phone_num', 'email', 'course_id',
       'batch_time', 'source_id', 'area', 'details_sent', 'Remarks',
       'next action', 'Date.1', 'Time', 'Leads', 'Visit Date_( Pitch by)',
       'Demo Date (Trainer Name)', 'Broadcast', 'SSS Lead transfered to'],
      dtype='object')

In [1306]:
use_cols = ['name', 'lead_date', 'phone_num', 'email', 'course_id', 'batch_time', 'source_id', 'area', 'details_sent', 'remark']

In [1307]:
for required_col in use_cols:
    if required_col not in df.columns:
        raise Exception(f'Column {required_col} not found.')

Exception: Column remark not found.

In [1284]:
for col in df.columns:
    if col not in use_cols:
        df.drop(col, axis=1, inplace=True)
df.columns

Index(['lead_date', 'name', 'phone_num', 'email', 'course_id', 'batch_time',
       'source_id', 'area', 'details_sent', 'remark'],
      dtype='object')

In [1285]:
df['batch_time'].unique()

array([None, '8 30', 'weekend', datetime.datetime(2022, 10, 8, 0, 0),
       'afternoon', 'online', '8-10/ 7-9', '10-12pm', 'Morning',
       '8;30-10am', 'arjunkumarphad@gmail.com', 'morn/eve', '7-9pm',
       'offline', '8-10am', '1-3pm', 'morn', '-',
       datetime.datetime(2022, 3, 1, 0, 0), 'afternoon/evening', '5-7pm',
       'morning', 'eve', 'weekend ', 'after 2pm ',
       datetime.datetime(2022, 9, 7, 0, 0), 'Afternoon', 'morning ',
       'AFTERNOON', 'after 3pm', datetime.datetime(2022, 12, 10, 0, 0),
       'afternoon batch', '8;30-10', '12-2pm', '8-10/7-9', '7-9/weekend'],
      dtype=object)

In [1286]:
if 'batch_time' in df.columns:
    df['batch_time'].unique()
    df.loc[df['batch_time'].str.lower().str.strip() == 'afternoon', 'batch_time'] = 'Afternoon'
    df.loc[df['batch_time'].str.lower().str.strip() == 'morning', 'batch_time'] = 'Morning'
    df.loc[df['batch_time'].str.lower().str.strip() == 'evening', 'batch_time'] = 'Evening'
    df.loc[df['batch_time'].str.lower().str.strip() == 'morning ', 'batch_time'] = 'Morning'
    df['batch_time'].fillna('Morning', inplace=True)

    df.loc[df['batch_time'] == 'Morning', 'batch_time'] = 1
    df.loc[df['batch_time'] == 'Afternoon', 'batch_time'] = 2
    df.loc[df['batch_time'] == 'Evening', 'batch_time'] = 3
    df.loc[~df['batch_time'].isin([1, 2, 3]), 'batch_time'] = 1 # others
    print(df['batch_time'].unique())

[1 2]

In [1287]:
df['course_id'].unique()

array([None, 'online', 'Offline', 'offline', 'on/off', 'PCMC', 'pcmc',
       'offline ', 'online ', 'Online', 'on / off', 'Offlne', 'on/off ',
       'weekend', 'online/offline', 'ONLINE', 'ON', 'Pcmc', 'offlinePCMC',
       'online/Offline', 'off', 'on', 'ofline', 'online\noffline',
       'pimple saudagar', 'na', 'OFF', 'offline/online', 'offline/ON'],
      dtype=object)

In [1288]:
df.loc[df['course_id'].str.lower().str.strip() == 'hinjewadi', 'course_id'] = 'offline'
df.loc[df['course_id'].str.lower().str.strip() == 'online', 'course_id'] = 'online'
df.loc[df['course_id'].str.lower().str.strip() == 'oflfline', 'course_id'] = 'offline'
df.loc[df['course_id'].str.lower().str.strip() == 'on\;ine', 'course_id'] = 'online'
df.loc[df['course_id'].str.lower().str.strip() == 'onine', 'course_id'] = 'online'
df.loc[df['course_id'].str.lower().str.strip() == 'oflline', 'course_id'] = 'offline'
df.loc[df['course_id'].str.lower().str.strip() == 'On line', 'course_id'] = 'online'
df.loc[df['course_id'].str.lower().str.strip() == 'Offlline', 'course_id'] = 'offline'
df.loc[df['course_id'].str.lower().str.strip() == 'offfline', 'course_id'] = 'offline'
df.loc[df['course_id'].str.lower().str.strip() == 'offline batch', 'course_id'] = 'offline'
df.loc[df['course_id'].str.lower().str.strip() == 'Offlne', 'course_id'] = 'offline'
df.loc[df['course_id'].str.lower().str.strip() == 'online ', 'course_id'] = 'online'
df.loc[df['course_id'].str.lower().str.strip() == 'offline/ online', 'course_id'] = 'online'
df.loc[df['course_id'].str.lower().str.strip() == 'offline', 'course_id'] = 'offline'
df.loc[df['course_id'].str.lower().str.strip() == 'offline/online', 'course_id'] = 'online'
df.loc[df['course_id'].str.lower().str.strip() == 'online/ offline', 'course_id'] = 'online'
df.loc[df['course_id'].str.lower().str.strip() == 'online/ offlineon', 'course_id'] = 'online'
df.loc[df['course_id'].str.lower().str.strip() == 'online/ offlineonl', 'course_id'] = 'online'
df.loc[df['course_id'].str.lower().str.strip() == 'offlne', 'course_id'] = 'offline'
df.loc[df['course_id'].str.lower().str.strip() == 'offline', 'course_id'] = 'offline'
df.loc[df['course_id'].str.lower().str.strip() == 'offline ', 'course_id'] = 'offline'
df.loc[df['course_id'].str.lower().str.strip() == 'walk-in', 'course_id'] = 'offline'
df.loc[df['course_id'].str.lower().str.strip() == 'online (weekend)', 'course_id'] = 'offline'
df.loc[df['course_id'].str.lower().str.strip() == 'on/off', 'course_id'] = 'offline'
df.loc[df['course_id'].str.lower().str.strip() == 'on/ off', 'course_id'] = 'offline'
df.loc[df['course_id'].str.lower().str.strip() == 'offlinhr', 'course_id'] = 'offline'
df.loc[df['course_id'].str.lower().str.strip() == 'oonline', 'course_id'] = 'online'
df.loc[df['course_id'].str.lower().str.strip() == 'on+ off', 'course_id'] = 'offline'
df.loc[df['course_id'].str.lower().str.strip() == 'nan', 'course_id'] = 'offline'
df.loc[df['course_id'] == np.nan, 'course_id'] = 'offline'
df['course_id'].fillna('offline', inplace=True)

df.loc[df['course_id'] == 'offline', 'course_id'] = 1
df.loc[df['course_id'] == 'online', 'course_id'] = 2
df.loc[~df['course_id'].isin([1, 2]), 'course_id'] = 1 # others
df['course_id'].unique()

array([1, 2], dtype=object)

In [1289]:
df['source_id'].unique()

array(['vijay sir', 'call', 'Call', 'walk-in', 'Vijay Sir', 'vijay sir ',
       'Vijay sir', None, 'Walk-in', 'walkin / ref ', 'ref ', 'walkin ',
       'Ref', 'walkin', 'whats app\nCall', 'Vijay sir ', 'whats app',
       'ref', 'viajy sir '], dtype=object)

In [1290]:
df.loc[df['source_id'].str.lower().str.strip() == 'offline', 'source_id'] = 'Direct Call'
df.loc[df['source_id'].str.lower().str.strip() == 'offline', 'source_id'] = 'Direct Call'
df.loc[df['source_id'].str.lower().str.strip() == 'call', 'source_id'] = 'Direct Call'
df.loc[df['source_id'].str.lower().str.strip() == 'vadagaon sheri', 'source_id'] = 'Direct Call'
df.loc[df['source_id'].str.lower().str.strip() == 'walk-in', 'source_id'] = 'Walk-in'
df.loc[df['source_id'].str.lower().str.strip() == 'vijay', 'source_id'] = 'Direct Call'
df.loc[df['source_id'].str.lower().str.strip() == 'kondawa ', 'source_id'] = 'Direct Call'
df.loc[df['source_id'].str.lower().str.strip() == 'walk-in', 'source_id'] = 'Walk-in'
df.loc[df['source_id'].str.lower().str.strip() == 'call', 'source_id'] = 'Direct Call'
df.loc[df['source_id'].str.lower().str.strip() == 'called vIjay', 'source_id'] = 'Direct Call'
df.loc[df['source_id'].str.lower().str.strip() == 'walk- in', 'source_id'] = 'Walk-in'
df.loc[df['source_id'].str.lower().str.strip() == ']walk-in', 'source_id'] = 'Walk-in'
df.loc[df['source_id'].str.lower().str.strip() == 'walk - in', 'source_id'] = 'Walk-in'
df.loc[df['source_id'].str.lower().str.strip() == 'walkin', 'source_id'] = 'Walk-in'
df.loc[df['source_id'].str.lower().str.strip() == 'vijay', 'source_id'] = 'Direct Call'
df.loc[df['source_id'].str.lower().str.strip() == 'chandan nagar', 'source_id'] = 'Direct Call'
df.loc[df['source_id'].str.lower().str.strip() == 'whats app', 'source_id'] = 'Whatsapp'
df.loc[df['source_id'].str.lower().str.strip() == 'reference', 'source_id'] = 'Referal'
df.loc[df['source_id'].str.lower().str.strip() == 'ref simran', 'source_id'] = 'Referal'
df.loc[df['source_id'].str.lower().str.strip() == 'ref vijay', 'source_id'] = 'Referal'
df.loc[df['source_id'].str.lower().str.strip() == 'ref sumit', 'source_id'] = 'Referal'
df.loc[df['source_id'].str.lower().str.strip() == 'ref chaitanya d', 'source_id'] = 'Referal'
df['source_id'].fillna('Direct Call', inplace=True)

df.loc[df['source_id'] == 'Whatsapp', 'source_id'] = 3
df.loc[df['source_id'] == 'Direct Call', 'source_id'] = 4
df.loc[df['source_id'] == 'Walk-in', 'source_id'] = 5
df.loc[df['source_id'] == 'Referal', 'source_id'] = 7
df.loc[~df['source_id'].isin([3, 4, 5, 7]), 'source_id'] = 4 # others

df['source_id'].unique()

array([4, 5, 3], dtype=object)

In [1291]:
df.loc[df['details_sent'] == 'yes', 'details_sent'] = 1
df.loc[df['details_sent'] == 'offline', 'details_sent'] = 1
df.loc[df['details_sent'] == 'Yes', 'details_sent'] = 1

df.loc[~df['details_sent'].isin([1]), 'details_sent'] = 1 # others
df['details_sent'].unique()

array([1], dtype=object)

In [1292]:
# df.to_csv('Jan_21.csv', index=False)

In [1293]:
import requests

def is_record_exist(base_url, phone_num):
    url = f"http://{base_url}:3002/api/leads/by_email_or_phone_num?phone_num={phone_num}"
    headers = {
      'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoxfQ.AHMxv1ZyUSH21Iq3Cb6AFbXgFQjrsOADGcSm83UG770'
    }
    response = requests.request("GET", url, headers=headers, data=payload)
#     print(response.text)
    if response.json():
        return True
    return False

is_record_exist('127.0.0.1', '%2B91-9763388359')

True

In [1294]:
import requests
import json

file_name = 'jan_21_manually.json'
manual_data = []

for index, row in df.iterrows():
    # Create lead
    base_url = '127.0.0.1' # 64.227.150.234
    url = f"http://{base_url}:3002/api/leads/add"
    
    if 'NaT' in row['lead_date']:
        continue
    phone_alt_num = str(row['phone_num'])
    if '/' in phone_alt_num:
        phone_alt_num = phone_alt_num.split('/')
    else:
        phone_alt_num = phone_alt_num.split('\n')
    
    if not phone_alt_num:
        continue
    if len(phone_alt_num) == 2:
        phone_num = '+91-' + phone_alt_num[0].replace(' ', '')
        phone_num = phone_num.strip()
        alternate_phone_num = '+91-' + phone_alt_num[1].replace(' ', '')
        alternate_phone_num = alternate_phone_num.strip()
    else:
        phone_num = '+91-' + phone_alt_num[0].replace(' ', '')
        phone_num = phone_num.strip()
        alternate_phone_num = None
    
    if is_record_exist(base_url, phone_num.replace('+', '%2B')):
        continue
        
    payload = json.dumps([
      {
        "name": row['name'],
        "phone_num": phone_num,
        "alternate_phone_num": alternate_phone_num,
        "email": row['email'].strip() if row['email'] else None,
        "lead_date": row['lead_date'].strip(),
        "remarks": row['remark'],
        "country_id": 98,
        "area": row['area'],
        "city_id": 1,
        "branch_id": 1,
        "source_id": row['source_id'],
        "course_id": row['course_id'],
        "batch_time_id": 1,
        "next_action_date": None,
        "next_action_remarks": None,
        "details_sent": row['details_sent'],
        "visit_date": None,
        "pitch_by": None,
        "demo_date": None,
        "instructor": None,
        "broadcast": 2,
        "agent_id": 1,
        "fee_offer": None,
        "is_student": 0
      }
    ])
    headers = {
      'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoxfQ.AHMxv1ZyUSH21Iq3Cb6AFbXgFQjrsOADGcSm83UG770',
      'Content-Type': 'application/json'
    }

    response = requests.request("POST", url, headers=headers, data=payload)
    if('error' in response.json()):
        print()
        print(response.json())
        print(payload)
        manual_data.append({'name': row['name'], 'phone_num': phone_num, 'email': row['email']})

with open(file_name, 'w') as outfile:
    json.dump(manual_data, outfile, indent=4)
len(manual_data)

{'error': 'Alternate Phone number is already exist.'}
[{"name": "Rajan Sharma\nAnchal Gupta", "phone_num": "+91-9369597032", "alternate_phone_num": "+91-8318412114", "email": null, "lead_date": "2022-10-01", "remarks": "1/10;persuing Bcom/Job purpose/rajan looking this course for his sister(bulbul)/said will discuss with his sister and then will let us knw(PP)\n3/10;business and job purpose/said will confirm till evening /wants evening batch/said will register today for evening batch(PP)\n6-23 Anchal gupta's admission done (MSY)", "country_id": 98, "area": "UP/Gorakhpur", "city_id": 1, "branch_id": 1, "source_id": 4, "course_id": 2, "batch_time_id": 1, "next_action_date": null, "next_action_remarks": null, "details_sent": 1, "visit_date": null, "pitch_by": null, "demo_date": null, "instructor": null, "broadcast": 2, "agent_id": 1, "fee_offer": null, "is_student": 0}]

{'error': 'Alternate Phone number is already exist.'}
[{"name": "siddharth khandelwal\nsakshi khandelwal ", "phone_num": "+91-8123833246", "alternate_phone_num": "+91-9636065558", "email": null, "lead_date": "2022-10-04", "remarks": "4-10; call not answered (RH)\n12-10; call not answered (RH)\n17-10 Will visit in mid-nov/currently in rajasthan/job Purpose(SP-03)\n7-11; looking for his sister / wants 7-9 online / demo / will confirm (RH)", "country_id": 98, "area": "rajasthan", "city_id": 1, "branch_id": 1, "source_id": 4, "course_id": 1, "batch_time_id": 1, "next_action_date": null, "next_action_remarks": null, "details_sent": 1, "visit_date": null, "pitch_by": null, "demo_date": null, "instructor": null, "broadcast": 2, "agent_id": 1, "fee_offer": null, "is_student": 0}]

{'error': '(MySQLdb.IntegrityError) (1364, "Field \'name\' doesn\'t have a default value")\n[SQL: INSERT INTO `lead` (phone_num, lead_date, remarks, country_id, city_id, branch_id, source_id, course_id, batch_time_id, details_sent, broadcast, agent_id, admission_status, deleted, created_at, updated_at) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, now(), now())]\n[parameters: (\'+91-6372630357\', datetime.datetime(2022, 10, 6, 0, 0), \'6/10 did not recieve (AT)(\\n7/10 busy (AT)\\n9/10 did not recieve (AT)/ speaking in dif language\\n10-23 Not recieve  (MY) \', 98, 1, 1, 4, 1, 1, 1, 2, 1, 0, 0)]\n(Background on this error at: https://sqlalche.me/e/14/gkpj)'}
[{"name": null, "phone_num": "+91-6372630357", "alternate_phone_num": null, "email": null, "lead_date": "2022-10-06", "remarks": "6/10 did not recieve (AT)(\n7/10 busy (AT)\n9/10 did not recieve (AT)/ speaking in dif language\n10-23 Not recieve  (MY) ", "country_id": 98, "area": null, "city_id": 1, "branch_id": 1, "source_id": 4, "course_id": 1, "batch_time_id": 1, "next_action_date": null, "next_action_remarks": null, "details_sent": 1, "visit_date": null, "pitch_by": null, "demo_date": null, "instructor": null, "broadcast": 2, "agent_id": 1, "fee_offer": null, "is_student": 0}]

{'error': 'Alternate Phone number is already exist.'}
[{"name": "Omkar hirve", "phone_num": "+91-8668498943", "alternate_phone_num": "+91-9921737208", "email": null, "lead_date": "2022-10-06", "remarks": "6-10; call not answered (RH)\n12-10; looking for job / will visit today (RH)\n13-10; will attend demo 5-7 (RH)\n19-10; registration done 10-12 (RH)", "country_id": 98, "area": null, "city_id": 1, "branch_id": 1, "source_id": 4, "course_id": 1, "batch_time_id": 1, "next_action_date": null, "next_action_remarks": null, "details_sent": 1, "visit_date": null, "pitch_by": null, "demo_date": null, "instructor": null, "broadcast": 2, "agent_id": 1, "fee_offer": null, "is_student": 0}]

{'error': 'Alternate Phone number is already exist.'}
[{"name": "Gitesh ghosh", "phone_num": "+91-8830817182", "alternate_phone_num": "+91-7030764975", "email": null, "lead_date": "2022-10-23", "remarks": "23/10;working in a marketing field/job purpose/said will visit after Diwali and then will confirm for the batch\n28/10;said wil let us know(PP)\n6/12;gitesh ghosh visited pcmc branch/said will register for mornng 10-12pm batch(PP)\n12/12;admission done(PP)", "country_id": 98, "area": "Baner", "city_id": 1, "branch_id": 1, "source_id": 4, "course_id": 1, "batch_time_id": 1, "next_action_date": null, "next_action_remarks": null, "details_sent": 1, "visit_date": null, "pitch_by": null, "demo_date": null, "instructor": null, "broadcast": 2, "agent_id": 1, "fee_offer": null, "is_student": 0}]

{'error': 'Phone number is already exist.'}
[{"name": "Abhilasha", "phone_num": "+91-9146771202", "alternate_phone_num": null, "email": "abhilasha.chandravanshi@gmail.com", "lead_date": "2022-10-28", "remarks": "28/10 did not recieve(AT)\n29/10 did not recieve (AT)\n31/10 call in afternoon(AT)\n18-23 Call not recieve (MY) ", "country_id": 98, "area": null, "city_id": 1, "branch_id": 1, "source_id": 4, "course_id": 1, "batch_time_id": 1, "next_action_date": null, "next_action_remarks": null, "details_sent": 1, "visit_date": null, "pitch_by": null, "demo_date": null, "instructor": null, "broadcast": 2, "agent_id": 1, "fee_offer": null, "is_student": 0}]

{'error': 'Email is already exist.'}
[{"name": "Viraj Thorat", "phone_num": "+91-8767712667", "alternate_phone_num": null, "email": "viruthorat07@gmail.com", "lead_date": "2022-10-29", "remarks": "29/10 voice not audible(At)\n31/10 BA/ 1st year/ said visited institute/ will  message on whatsap(AT)\n19-23 Join other institute (MY) ", "country_id": 98, "area": "Hinjewadi", "city_id": 1, "branch_id": 1, "source_id": 4, "course_id": 1, "batch_time_id": 1, "next_action_date": null, "next_action_remarks": null, "details_sent": 1, "visit_date": null, "pitch_by": null, "demo_date": null, "instructor": null, "broadcast": 2, "agent_id": 1, "fee_offer": null, "is_student": 0}]

7

In [1268]:
len(manual_data)

7

In [561]:
df.shape

(429, 11)